<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - 20-01</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Home <%= name %></h1>
    <a href="about">About</a>
    <a href="contact">Contact</a>
    <form action="" method="POST">
        <input name="random" type="text">
        <input type="submit" value="Sumit">
    </form>
</body>
</html>