* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Login.html */
.container{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 237, 255);
}
.login-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border: 2px solid rgb(178, 180, 203);
    padding: 50px;
    background-color: rgb(126, 130, 143);
    border-radius: 20px;
}
.login-box>input{
    padding: 10px 20px;
    padding-left: 10px;
    border-radius: 20px;
    border: 2px solid gray;
    width: 250px;
}
.login-box>button{
    padding: 10px 40px;
    width: fit-content;
    border-radius: 20px;
    border: none;
    background-color: rgb(61, 183, 61);
    color: white;
    cursor: pointer;
}
.login-box>button:hover{
    background-color: rgb(55, 165, 55);
}





/* index.html */
.home-nav {
    background-color: transparent;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

.home-nav>h2{
    font-size: 1.5rem;
    color: rgb(251, 235, 255);
}
.home-nav>h2>a{
    color: inherit;
    text-decoration: none;
}

.home-nav>ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.home-nav>ul>li>a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
}
.cart-list{
    position: relative;
}
.add-count{
    background-color: rgb(255, 128, 0);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 500;
    top: -8px;
    right: -10px;
}

section {
    max-width: 1440px;
    margin: 20px auto;
}


.hero{
    height: 100vh;
    margin: 0;
    max-width: 100%;
    background-image: url(https://images.pexels.com/photos/5632371/pexels-photo-5632371.jpeg);
    background-size: cover;
    background-position: center bottom;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero>.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    max-width: 500px;
}
.hero-content>h1{
    font-size: 4rem;
}
.hero-content>p{
    font-size: 0.85rem;
    font-weight: 100;
    color: rgb(219, 219, 219);
}
.hero-content>button{
    width: 40%;
}

.feature-section{
    margin-block: 50px;
}
.feature-container{
    display: flex;
    justify-content: space-around;
}
.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.feature>.png{
    background-color: rgb(187, 218, 187);
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature>h5{
    font-size: 1.4rem;
    font-weight: 500;
}
.feature>p{
    color: rgb(30, 30, 30);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cards>.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    padding: 10px
}
.cards>.card:hover{
    background-color: rgb(245, 245, 245);
}
.card>.img-container{
    overflow: hidden;
    width: 280px;
    height: 200px;
    position: relative;;
}
.card>.img-container>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.card>.img-container>svg{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.card>h3{
    font-weight: 500;
    overflow: hidden;
    height: 1lh;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card>.description{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 3lh;
}
.card>p{
    color: rgb(69, 69, 69);
}
.card>.price{
    font-weight: 500;
    color: rgb(11, 11, 11);
}
.card button{
    width: fit-content;
}


.btn-cart{
    background-color: rgb(235, 175, 10);
    border: none;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    color: white;
}
.btn-cart:hover{
    background-color: rgb(245, 183, 12);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.btn-buy{
    background-color: rgb(62, 163, 49);
    border: none;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    color: white;
}
.btn-buy:hover{
    background-color: rgb(71, 180, 56);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1);
}





/* addProduct.html */

.other-nav {
    background-color: rgb(123, 71, 123);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.other-nav>h2{
    font-size: 1.5rem;
    color: rgb(251, 235, 255);
}
.other-nav>h2>a{
    color: inherit;
    text-decoration: none;
}

.other-nav>ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.other-nav>ul>li>a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
}



.add-product-form>form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: aliceblue;
    width: fit-content;
    margin: auto;
    padding: 50px;
    width: 400px;
}

.input-field {
    width: 100%;
    padding: 10px 10px;
    border-radius: 20px;
    border: 1px solid black;
}
form textarea{
    min-height: 1lh;
    max-height: 5lh;
    field-sizing: content;
}
/* form>div {
    display: flex;
    justify-content: center;
} */

.btn {
    background-color: skyblue;
    border: none;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
}

.btn:hover{
    background-color: rgb(140, 222, 255);
}







/* cart.html */
.cart-h1{
    text-align: center;
}
.cart-container{
    display: flex;
    flex-direction: column;
}
.cart-item{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    border-bottom: 2px solid gray;
    margin-inline: 20px;
}
.img-and-content{
    display: flex;
    gap: 20px;
}
.img-and-content>.img-container{
    width: 150px;
    height: 150px;
}
.img-and-content>.img-container>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.img-and-content>.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    justify-content: center;
}
.price-item{
    display: flex;
    align-items: center;
}
.quantity{
    display: flex;
    align-items: center;
}
.quantity>input{
    width: 50px;
}
.delete{
    display: flex;
    align-items: center;
}
.delete>svg{
    cursor: pointer;
}

.total{
    display: flex;
    justify-content: flex-end;
}
.total-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    margin: 20px;
}
.total-box>button{
    width: fit-content;
    align-self: flex-end;
}




.title{
    color: rgb(11, 11, 11);
}
.description{
    color: rgb(39, 39, 39);
}
.price{
    color: rgb(0, 97, 10);
}