<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <style>
        a{
            text-decoration: none;
        }
        form{
            display: flex;
            flex-direction: column;
            width: 300px;
            gap: 10px;
        }
    </style>
</head>
<body>
    <%- include("adminnav.ejs") %>
    <h1>Add Product</h1>
    <form action="/addproduct/add" method="post">
        <input type="text" name="title" placeholder="Enter title of the product">
        <textarea name="description" rows="5" placeholder="Description"></textarea>
        <input type="number" name="price" placeholder="Price">
        <input type="text" name="image" placeholder="Enter image url">
        <button>Submit</button>
    </form>
</body>
</html>