<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Page</title>
    <style>
        table{
            /* border: 2px solid black; */
            border-collapse: collapse;
        }
        th{
            background-color: rgb(224, 224, 224)  ;
        }
        th, td{
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>
<body>
    <h1>Users Page</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        <% users.map(user=>{ %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
            </tr>
        <% }) %>
    </table>
</body>
</html>