<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product - Admin</title>
    <style>
        form{
            display: flex;
            flex-direction: column;
            width: 300px;
            gap: 10px;
        }
    </style>
</head>
<body>
    <h1>Edit Product - Admin Panel</h1>
    <form action="" method="post">
        <input type="text" name="title" placeholder="Title" value="<%= product.title %>">
        <textarea type="text" name="description" placeholder="Description"><%= product.description %></textarea>
        <input type="text" name="price" placeholder="Price" value="<%= product.price %>">
        <input type="text" name="image" placeholder="Image url" value="<%= product.image %>">
        <button>Update</button>
    </form>
</body>
</html>