<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>21-01 Express</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/signin">Signin</a>
        <a href="/signup">Signup</a>
    </nav>
    <h1>Hello <%= name %></h1>
    <form action="" method="POST">
        <input type="text" name="name">
        <button>Submit</button>
    </form>
</body>
</html>