@media screen and (max-width: 1080px){
    .hero{
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    .left-hero>h1{
        font-size: 3rem;
    }
    .left-hero>button{
        margin: auto;
    }
}

@media screen and (max-width: 850px){
    .navbar>ul{
        display: none;
    }
    .categories {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px){
    .left-hero>h1{
        font-size: 2.2rem;
    }
    .left-hero p {
        font-size: 0.9rem;
    }
    .right-nav {
        gap: 8px;
    }
    .right-nav button {
        padding: 6px 12px;
        font-size: 0.8rem;
    }
    nav.navbar{
        margin-inline: 5px;
    }

    .left-category{
        grid-template-rows: repeat(2, auto);
    }
}